body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: context-menu;
}
body{
    font-family: "微软雅黑",arial;
    overflow: auto;
}
html,body{
    position: relative;
    height: 100%;
}
.top-content{
    height: 100%;
    position: relative;
}
.top-content .nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.top-content .nav .photo{
    width: 32px;
    height: 32px;
    margin-top: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.top-content .nav{
    height: 100%;
}

/***********************左边导航************************/

.top-content .nav .nav-left{
    width: 90px;
    height: 100%;
    background-color: #313131;
    color: #fff;
    font-size: 13px;
    margin-left: 0;
    float: left;
    position: relative;
    z-index: 25;
}
.top-content .nav .swiper-slide {
    height: auto;
}
.top-content .nav .nav-left i{
    width: 21px;
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
}
.top-content .nav .nav-left ul{
    padding-top: 33px;
    color: #ccc;
}
.top-content .nav .nav-left li{
    margin: 3px 0;
    line-height: 36px;
    padding-left: 10px;
    cursor: pointer;
}
.top-content .nav .nav-left li:hover{
    background-color: #262626;
    color: #fff;
}
.top-content .nav .nav-left li.index{
    padding-left: 8px;
    border-left: 2px solid #20a0ff;
    background-color: #262626;
}
.top-content .nav .nav-left li .nav-two{
    font-size: 12px;
}
.top-content .nav .nav-left li .nav-two:hover{
    color: #20a0ff;
}

/***********************右边导航************************/

.top-content .nav .nav-right{
    width: 90px;
    height: 100%;
    padding: 0 5px;
    float: left;
    border-right: 1px solid #eee;
    background-color: #fff;
    position: relative;
    z-index: 15;
    font-size: 14px;
    text-align: center;
    color: #666;
}
.top-content .nav .nav-right ul{
    margin-top: 105px;
}
.top-content .nav .nav-right li{
    line-height: 36px;
    margin: 7px 0;
    cursor: pointer;
}
.top-content .nav .nav-right li.index{
    background-color: #eee;
}
.top-content .nav .nav-right li:hover{
    background-color: #eee;
}

/***********************header************************/

.top-content .nav .header{
    width: 100%;
    height: 50px;
    min-width: 900px;
    font-size: 0;
    padding-left: 90px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    background: #fff;
    z-index: 20;
    color: #666;
}
.top-content .nav .header .recharge-tips{
    padding: 12px 0px 12px 41px;
    font-size: 13px;
    background-color: #fcf1b7;
    display: none;
}
.top-content .nav .header .recharge-tips-t{
    line-height: 23px;
    overflow: hidden;
}
.top-content .nav .header .recharge-tips-t a{
    color: #20a0ff;
    margin-left: 28px;
    cursor: pointer;
    text-decoration: underline;
}
.top-content .nav .header .recharge-tips-t .btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff4949;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 60px;
    cursor: pointer;
}
.top-content .nav .header .recharge-tips-b{
    line-height: 13px;
    padding-top: 16px;
}

.top-content .nav .header .logo{
}

.top-content .nav .header .logo .fl-r{
    font-size: 14px;
    color: #333;
}
.top-content .nav .header .logo .fl-r>div{
    float: left;
    line-height: 49px;
    margin-right: 25px;
}
.top-content .nav .header .logo .fl-r i{
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}
.top-content .nav .header .logo .user{
    position: relative;
}
.top-content .nav .header .logo .user:hover .user-layer-info{
    display: block;
}
.top-content .nav .header .logo .user span{
    cursor: pointer;
}
.top-content .nav .header .logo .user-info-bra{
    height: 10px;
    width: 150px;
    position: absolute;
    left: -20px;
}
.top-content .nav .header .logo .user-layer-info{
    width: 150px;
    height: 150px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    top: 59px;
    left: -21px;
    box-shadow: 2px 2px 15px #dfdfdf;
    display: none;
}
.top-content .nav .header .logo .user-info-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px auto 0 auto;
    background-color: #000;
}
.top-content .nav .header .logo .user-info-name{
    line-height: 30px;
    margin-bottom: 5px;
}
.top-content .nav .header .logo .user-info-vip{
    width: 43px;
    height: 22px;
    line-height: 22px;
    background-color: #ff5a5a;
    font-size: 12px;
    margin: 0 auto;
    color: #fff;
    border-radius: 3px;
    transform: scale(0.83);
}
.top-content .nav .header .logo .user-info-close{
    line-height: 30px;
    font-size: 12px;
    color: #20a0ff;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    margin-top: 10px;
    cursor: pointer;
}
.top-content .nav .header .logo .user-info-dsj{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #fff;
    position: absolute;
    top: -9px;
    left: 16px;
}


/*****************************************************/

.top-content .content{
    max-width: 1920px;
    min-width: 1280px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.top-content .content-ifr{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    box-sizing: border-box;
    padding-left: 190px;
}
.top-content .content-notice{
    width: 125px;
    height: 40px;
    line-height: 40px;
    background-color: #fbb875;
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}
.top-content .content-notice i{
    margin-right: 7px;
}
.top-content .content-notice span{
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #fbb875;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 50%;
}
/*.layer-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;
    background-color: rgba(0,0,0,.4);
}*/