
  /**
 * gt 按钮样式  normal根据内容填充  blue为蓝色 red为red
 * @xiandan
 */
  .gt-button-normal.red {
   color: #FF4949;
   border-color: #FF4949;
  }
  .gt-button-normal:disabled {
    background-color: #fff;
    border-color: #e6ebf5;
    color: #b4bccc;
  }
  .gt-btnSize-middle {
    width: 85px;
    height: 32px;
    padding: 0;
    line-height: 32px;
  }

/**
 * table 列表标题样式
 * @xiandan
 */
 .gt-table-title {
    font-size: 15px;
    height: 26px;
    border-bottom: 1px solid #eee;
    color: #333;
    /* font-weight: bold; */
  }


  /**
   * 上传图片的按钮样式
   * @xiandan
   */
  .gt-upload-img .avatar-uploader {
    display: inline-block;
  }

  .gt-upload-img .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .gt-upload-img .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }

  .gt-upload-img .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
  }

  .error .avatar-uploader .el-upload {
        border: 1px dashed #ff4949!important;
  }

  /**
   * 常用 浮动 清除浮动 定位 行内块级元素
   * @xiandan
   */
  .fl{ float: left }
  .fr{ float: right }
  .clearfix:after {
      visibility: hidden;
      clear: both;
      display: block;
      content: ".";
      height: 0;
  }
  .relative { position: relative; }
  .block { display: block; }
  .inblock { display: inline-block; }
  .lh1 { line-height: 1; }

  .bd1px-radius { border:1px solid #dfe6ec; border-radius: 5px; }
  .bd1px-red { border-color: #FF4949; }

  /**
  * 常用 字体大小 字体水平对齐方式
  * @xiandan
  */
  .fs0 { font-size: 0; }
  .fs12 { font-size: 12px; }
  .fs13 { font-size: 13px; }
  .fs14 { font-size: 14px; }
  .fs16 { font-size: 16px; }
  .fs18 { font-size: 18px; }

  .text-left { text-align: left; }
  .text-center { text-align: center; }
  .text-right { text-align: right; }

  /**
  * 常用 字体颜色 背景颜色
  * @xiandan
  */
  .cfff { color: #fff; }
  .c333 { color: #333; }
  .c666 { color: #666; }
  .c999 { color: #999; }
  .red { color: #FF4949; }

  .bg-f8f8f8 { background-color: #f8f8f8; }

  /**
  * 常用 元素的垂直对齐方式
  * @xiandan
  */
  .va-t { vertical-align: top; }
  .va-m { vertical-align: middle; }
  .va-b { vertical-align: bottom; }

  /**
   * 常用 margin
   * @xiandan
   */
  .mg-t10 { margin-top: 10px; }
  .mg-t20 { margin-top: 20px; }
  .mg-t30 { margin-top: 30px; }

  .mg-r10 { margin-right: 10px; }
  .mg-r20 { margin-right: 20px; }
  .mg-r30 { margin-right: 30px; }

  .mg-b10 { margin-bottom: 10px; }
  .mg-b15 { margin-bottom: 15px; }
  .mg-b20 { margin-bottom: 20px; }
  .mg-b30 { margin-bottom: 30px; }
  
  .mg-l8  { margin-left: 8px }
  .mg-l10 { margin-left: 10px }
  .mg-l20 { margin-left: 20px }
  .mg-l30 { margin-left: 30px }
  .mg-l35 { margin-left: 35px }
  .mg-l50 { margin-left: 50px }
  .mg-l64 { margin-left: 64px }

  .mg-tb30 { margin-top: 30px; margin-bottom: 30px; }

  /**
   * 常用 padding
   * @xiandan
   */
   .pd-t20 { padding-top: 20px; }

   .pd-b50 { padding-bottom: 50px; }

   .pd-l0  { padding-left: none; }
   .pd-l10 { padding-left: 10px; }
   .pd-l20 { padding-left: 20px; }
   .pd-l30 { padding-left: 30px; }

   .pd-tb10 { padding-top: 10px; padding-bottom: 10px; }
   .pd-tb12 { padding-top: 12px; padding-bottom: 12px; }
   .pd-tb14 { padding-top: 14px; padding-bottom: 14px; }
   .pd-lr20 { padding-left: 20px; padding-right: 20px; }
   .pd-lr65 { padding-left: 65px; padding-right: 65px; }

   .pd-0 { padding: 0px; }
   .pd-20 { padding: 20px; }

   /**
   * 版心宽度
   * @xiandan
   */
   .gt-panel-content { width: 90%; margin: 0 auto; }

  /**
   * 常用宽度
   * @xiandan
   */
   .w60  { width: 60px;  }
   .w200 { width: 200px; }
   .w110 { width: 110px; }
   .w220 { width: 220px; }
   .w250 { width: 250px; }
   .w300 { width: 300px; }
   .w360 { width: 360px; }
   .w420 { width: 420px; }
   .w800 { width: 800px; }
   .w1130 { width: 1130px; }

